/* 1. Resetting defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Defining theme for the page */
:root {
    --primary-color:#2d3436; /* Dark slate for text */
    --accent-color: #0984e3;  /* Professional blue for links/headers */
    --bg-color: #f9f9f9; /*light grey background */
    --card-bg: #ffffff; /* pure white for sections */
    --font-main: 'inter', sans-serif;
}

body {
    font-family: var(--font-main);
    line-height: 1.6;
    color: var(--primary-color);
    background-color: var(--bg-color);
    padding: 20px;
}

@media print {
    .back-to-top, nav {display: none;} /* hide web-only buttons */
    body {
        font-size: 12pt; color: black;
    }
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    background: var(--card-bg);
    box-shadow: 0 4px 15px rgba(0,0,0,0.05); /*subttle shadow for depth */
    border-radius: 8px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.2rem;
    color: var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 5px;
    margin: 30px 0 15px 0;
    text-transform: uppercase;
}

h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

#head {
    display: flex; /* Magis: moves items from vertical to horizontal */
    align-items: center; /* Magic: centers text vertically against the photo */
    gap: 30px; /*Adds a space between the photo and the text */
    margin-bottom: 40px; /* space below the whole header */
}

.pic {
    width: 150px; /*sets a consistent size for the photo */
    height: 150px; 
    border-radius: 50%; /* turns the square photo into a professional circle */
    object-fit: cover; /*prevents the face of the picture from looking squashed */
    border: 3px solid var(var(--accent-color));
}

.top {
    margin-bottom: 5px; /* tightens the gap betweek the name and contact info */
}

#nav {
    display: flex; /*lines them up in a row */
    margin-top: 15px; /* space between the contact info and the buttons */
    gap: 15px; /* puts a little "gap" between each button */
}

#nav button {
    text-decoration: none; /*kills the default blue underline */
    color: white; /* text color */
    background-color: var(--accent-color); /*uses the professional blue */
    padding: 8px 16px; /*first number = Top/bottom */
    border-radius: 20px; /* makes the corners round like a pill */
    font-size: 0.85rem; /* makes the text slightly smaller */
    font-weight: bold; 
    transition: 0.3s; /* slow motion for the hover effect */
}

/* what happens when the mouse touches it */
#nav button:hover {
    background-color: #333; /*turns dark greywhen you hover */
    transform : translateY(-3px) /* makes the button jump up slightly */
}